*
{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    transition: all 0.2s linear;
}
:root
{
    --primary-color: white;
    --secondary-color: #1b1b1b;
}
.dark-theme
{
    --primary-color: #1b1b1b;
    --secondary-color: white;
}
.header 
{
    overflow: hidden;
    background-color: #f8f9fa;
    padding: 20px 10px;
}
.header a 
{
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
    border-radius: 4px;
    margin-top: 20px;
}
.header a.logo 
{
    font-size: 40px;
    margin-top: 20px;
    color: rgba(0,0,0,.9);

}
.header a.head-right 
{
    margin-top: 20px;
}
.header a.head-right:hover 
{
    background-color: orangered;
    color: rgb(76, 250, 13);
}
.header #logo
{
    width: 100px;
    float: left;
}
.header i
{
    margin-top: 35px;
    margin-right: 15px;
    cursor: pointer;
}
.header i:hover
{
    color: rgb(76, 250, 13);
}
.header-right 
{
    float: right;
}
#icon
{
    float: right;
    margin: 10px;
    width: 30px;
    cursor: pointer;
    margin-top: 28px;
}
body
{
    background-color: var(--primary-color);
    font-family: "Poppins", sans-serif;
}
.service hr
{
    background-color: var(--secondary-color);
}
.service
{
    display: flex;
    margin-top: 50px;
}
.FreeShipping
{
    width: 50%;
    padding-left: 5%;
}
.FreeShipping h3
{
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--secondary-color);
    padding-top: 40px;
    padding-bottom: 10px;
}
.FreeShipping p
{
    padding: 10px 0;
    color: var(--secondary-color);
}
.FreeShipping img
{
    width: 100%;
}
.Refund
{
    width: 50%;
    padding-left: 5%;
}
.Refund h3
{
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--secondary-color);
    padding-top: 40px;
    padding-bottom: 10px;
}
.Refund p
{
    color: var(--secondary-color);
    padding: 10px 0;
}
.Refund img
{
    width: 100%;
}
